{% extends 'base.html' %}
{% block content %}

<h1>Item - {{ item.name }}</h1>

<p><img src="{{ item.photo_url }}" width="250px" height="250px"></p>

<p><strong>Price:</strong> ${{ item.price }}</p>
<p><strong>Category:</strong> {{ item.category }}</p>
<p><strong>Store:</strong> {{ item.store.title }}</p>
{% if item.created_by %}
<p><strong>Added by:</strong> {{ item.created_by.username }}</p>
{% endif %}

{% if current_user.is_authenticated %}
<form action="{{ url_for('main.add_to_shopping_list', item_id=item.id) }}" method="POST">
    <button type="submit" class="btn btn-primary">Add to Shopping List</button>
</form>
{% endif %}

<h2>Edit Item</h2>

<form method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Please enter your information:</legend>

        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.price.label }}<br>
            {{ form.price() }}<br>
            {% for error in form.price.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.category.label }}<br>
            {{ form.category() }}<br>
            {% for error in form.category.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.photo_url.label }}<br>
            {{ form.photo_url(size=64) }}<br>
            {% for error in form.photo_url.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.store.label }}<br>
            {{ form.store() }}<br>
            {% for error in form.store.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </fieldset>
</form>

{% endblock %}