{% extends 'base.html' %}
{% block content %}

<h1>Store - {{ store.title }}</h1>

<p><strong>Address:</strong> {{ store.address }}</p>
{% if store.created_by %}
<p><strong>Added by:</strong> {{ store.created_by.username }}</p>
{% endif %}

<h2>Items</h2>

<div class="items">
    {% for item in store.items %}
    <div class="item-details">
        <a href="/item/{{ item.id }}">
            <img src="{{ item.photo_url }}" alt="{{ item.name }}" width="200px">
            <p><strong>{{ item.name }}</strong></p>
        </a>
        <p><strong>Price: ${{ item.price }}</strong></p>
    </div>
    {% endfor %}
</div>

<h2>Edit Store</h2>

<form method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Please enter your information:</legend>

        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=40) }}<br>
            {% for error in form.title.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=60) }}<br>
            {% for error in form.address.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </fieldset>
</form>

{% endblock %}